body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#terminal-body {
  background: black !important;
  color: white;
  /* height: 35rem; */
  /* width: 50vw; */
  /* height: 100vh; */
  height: 40rem;
  /* width:  */
  /* width: 100%;
  height: 50vh;
  margin: 5rem; */
  /* color: #2bca0d; */
}

#terminal-app-bar {
  background-color: #dbdbdb;
}

p {
  /* margin: none !important;
  padding: none !important; */
}
